<!DOCTYPE html>
<html lang="cs">

<head>
    <meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8" />
    <title><?= $this->title ?></title>
    <meta name = "keywords" content = "Klatovy, Gymnázium, Knihovna, Vyhledávaè, Databáze" />
    <meta name = "description" content = "Knihovna Gymnázia Jaroslava Vrchlického v Klatovech" />
    <meta name = "author" content = "Jakub Jankovec, Marek Seltenhofer" />
    <meta name = "robots" content = "index, follow"> 
    <!-- DO WE WANT NOINDEX / NOFOLLOW ? -->
    <meta name="language" content="cs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LATER MAYBE ADD THIS <link rel="canonical" href="http://example.com/" /> -->
    

    <link rel="stylesheet" href="css/design1.css">
    <link rel = "icon" href = "resources/page_icon.gif ">
    
    <script type = "text/JavaScript">
     var mode = 0;
     
     function updateMode() {
          if (mode == 0) {
              document.getElementById("main").className = "light"
          } else {
              document.getElementById("main").className = "dark"
          }
     }
                
     function switchMode() {
        if (mode == 0) {
            mode = 1;
        } else {
            mode = 0;
        }
        updateMode();
        
        var date = new Date();
        date.setDate(date.getDate() + 365); 
        document.cookie = "darkModeEnabled="+mode+";expires="+ date.toUTCString()+ ";";
     }
     
     function initFunction() {
       var cookies = document.cookie;
       cookiearray = cookies.split(';');
               
       for(var i=0; i<cookiearray.length; i++) {
         if (cookiearray[i].split('=')[0] == "darkModeEnabled") {
            mode = cookiearray[i].split('=')[1];
         }
       }     
       updateMode();
     }
     
   </script>
    
</head>

<body id="main" style="margin:0px; transition:all 0.5s ease">
    <?php require "$this->template_type"; // this method will print the template content ?>
</body>

</html>