@import url('https://fonts.googleapis.com/css?family=Dosis');

/* BASIC GLOBAL STUFF ------------------------------------------------------------------------ */

*{
   font-family: 'Dosis', 'Helvetica';
   font-size: 19px;
}

.logo {
  float:left;
  content: url("resources/logo_miniature.svg");
  height: inherit;
}

.hidden {
  opacity:0;
}

.min_w {
  min-width: 520px;
}

header {
  transition: all 0.2s ease;
}


#heading, #heading:visited, #heading:hover, #heading:active {
  font-size: 2em;
  font-weight: bold;
}

#search_window, #search_results {
   box-shadow:2px 2px 1px #000; 
}

#search_bar {
   border-color: #7d7d7d; 
}
                  
#search_results {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 34px;
}

#search_table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}



/* BACKGROUND COLORS -------------------------------------------------------------------------- */

/* new colors- light: #17252A #2B7A78 #3AAFA9 #DEF2F1 #FEFFFF */
/* new colors- dark:  #0B0C10 #1F2833 #C5C6C7 #66FCF1 #45A29E  */

body.light.bg_color0 {
  background-color: #cad3da;
}

body.dark.bg_color0 {
  background-color: #0B0C10;
}



body.light .bg_color1 {
  background-color: #FEFFFF;
}

body.dark .bg_color1 {
  background-color: #1F2833;
}



body.light .bg_color2 {
  background-color: #FEFFFF;
}

body.dark .bg_color2 {
  background-color: #0B0C10;
}



body.light .bg_color3 {
  background-color: #3AAFA9;
}

body.dark .bg_color3 {
  background-color: #67E0D7;
}



body.light .bg_color4 {
  background-color: #FEFFFF;
}

body.dark .bg_color4 {
  background-color: #1F2833;
}



body.light .bg_color5 {
  background-color: #f1f1f1;
}

body.dark .bg_color5 {
  background-color: #343e4a;
}



body.light .bg_color6 {
  background-color:#17252A;
}

body.dark .bg_color6 {
  background-color:#1d1d1d;
}


/* COLORS -------------------------------------------------------------------------------------- */


body.light .color0 {
  color: #17252A;
}

body.dark .color0 {
  color: #e0fffc;
}



body.light .color1 {
  color: #17252A;
}

body.dark .color1 {
  color: #ececec;
}


/* HEADER CONTROLS ---------------------------------------------------------------------------- */

#homepage_logo, #heading {
  transition: inherit;
}


.full_display {
  min-height:110px;
  padding: 30px;
}

.collapsed_display {
  padding: 15px;
  padding-left:30px;
  padding-right:30px;
}

.full_display #homepage_logo { 
  height: 125px; 
}

.collapsed_display #homepage_logo { 
  opacity: 0;
  height: 0px;
  width: 125px; 
}

.full_display #heading{
  margin-top:40px;
}

.collapsed_display #heading{
  margin-top: 0px;
}

/* DARK MODE BUTTON ---------------------------------------------------------------------------*/


#label_darkMode_buttonKnob {
  background-color: #0B0C10;
}

body.light #label_darkMode_buttonKnob {
  left:0px;
}

body.dark #label_darkMode_buttonKnob {
  left:19px;
}

body.light #label_darkMode_buttonBc {
  background-color: #3aafa9;
}

body.dark #label_darkMode_buttonBc {
  background-color: #def2f1;
}


/* LIGHT MODE -------------------------------------------------------------------------------- */


body.light footer {
   box-shadow:0px -1px 1px #717171;
}

body.light #search_icon {
  stroke: #feffff;
}

/* DARK MODE --------------------------------------------------------------------------------- */


body.dark footer {
   box-shadow:0px -1px 1px #000;
}

body.dark #search_icon {
  stroke: #0b0c10;
} 